@page
@model Shop.UI.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin page";
}

    <div id="app">
        @*<input type="number" @@change="alert('hello')" v-model="price" />
        <button v-on:click="togglePrice">Toggle</button>
        <p v-show="isPriceAvailable">
            {{price}}
        </p>
        <p v-if="isPriceAvailable">
            {{formatPrice}}
        </p>
        <button v-on:click="getProducts">Get Products</button>*@
        <div>
            <p v-for="(product,index) in products">
                {{product.name}} -- {{product.value}}
                <a href="#"  @@click="editProduct(product.id,index)">Edit</a>
                <a href="#" @@click="deleteProduct(product.id,index)">Remove</a>
            </p>
        </div>
        
        <div>
            <input v-model="productModel.name" />
            <input v-model="productModel.description" />
            <input type="number" v-model.number="productModel.value" />
            <button v-on:click="createProducts" v-if="!productModel.id">Create Products</button>
            <button v-on:click="updateProducts" v-else>Update Product</button>
        </div>
    </div>

@section scripts{
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/main.js"></script>
}