@page
@model Shop.UI.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}

    <div>
        @foreach (var product in Model.Cart)
        {
            <p>@product.Name</p>
            <p>@product.Value</p>
            <p>@product.StockId</p>
            <p>@product.Qty</p>
            <hr/>
        }
    </div>

